@charset "UTF-8";
/*共通部分--------------------*/
html{
	font-size: 100%;
}
body{
	font-family: "Yu Gothic medium", "游ゴシック Medium", Yugothic, "游ゴシック体", "ヒラギノ角 Pro W3", sans-serif;
	line-height: 1.7;
	color: #312F2F;
}
a{
	text-decoration: none;
}
image{
	max-width: 100%;
}

/*HEADER--------------------*/
.logo{
	width: 60px;
	margin-top: 2px;
}
.main-nav{
	cursor: pointer;
	cursor: hand;
	display: flex;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}
.main-nav li{
	margin-left: 36px;
}
.main-nav a{
	color: #312F2F;
}
.main-nav a:hover{
	color: #0bd;
}
.page-header{
	display: flex;
	justify-content: space-between;
}
.wrapper{

	margin: 0 auto;
	padding: 0 4%;
}

/*HOME--------------------*/
.home-content{
	text-align: center;
}
.home-content p{
	font-size: 1.125rem;
	margin: 10px 0 42px;
}

/*見出し*/
.page-title{
	font-size: 5rem;
	/*途中*/
}
.button{
	font-size: 1.375rem;
	background: #519E8A;
	color: #fff;
	border-radius: 10px;
	padding: 10px 30px;
}
.button2{
	font-size: 1.375rem;
	background: #C5C9A4;
	color: #fff;
	border-radius: 10px;
	padding: 10px 30px;
}
.button:hover{
	background: #0090aa;
}

/*フッダ―*/
footer{
	background: #312F2F;
	text-align: center;
	padding: 10px 0;
	margin-top: 50px;
}
footer p{
	color: #fff;
	font-size: 0.875rem;
}

/*card--------------------*/
.namecard {
	text-align:left;
	display:inline-block;
    /*名刺の区切れ目がわかるような線*/
    border: 1px solid #ddd;
	left:50%;
    /*名刺の大きさ*/
    width: 22.75rem;
    height: 11.75rem;

    /*名刺の余白*/
    padding: 3rem;

    /*装飾*/
    color: #333;

}

.name {
    /*文字の装飾*/
    font-size: 1.8rem;

    /*微妙にずれてるのを修正*/
    margin-top: -2.0rem;
    margin-left: -1.50rem;
}

.name2 {
    /*文字の装飾*/
    font-size: 2.0rem;

    /*微妙にずれてるのを修正*/
    margin-top: -1.0rem;
    margin-left: 2.50rem;
}


.phonetic {
    margin-left: -1.50rem;
}

.phonetic2 {
    margin-left: 2.50rem;
}

.contact {
    /*flexboxにして縦並びにしています*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    /*余白*/
    margin-top: 1.5rem;
    margin-left: 0.5rem;

    /*装飾*/
    font-size: 0.8rem;

}


.contact span {
    margin-top: 0.25rem;
}

.contact i {
    /*SNSなどのアイコンの位置調整*/
    width: 2.0rem;
}

.namecard img {
    /*画像のサイズ指定*/
    width: 7rem;
    height: auto; 

    /*画像の位置指定*/
    position: relative;
    left: 17.00rem;
    bottom: 11.5rem;
}

.namecard-img img {
    width: 7rem;
    height: auto; 

    /*画像の位置指定*/
    position: relative;
    left: 17.00rem;
    bottom: 13.0rem;
}